body{
   font-family: 'Raleway', sans-serif; 
}

h2{
   font-weight: 600;
}

a:hover {
    color: #93C43E;
    text-decoration: none;
}

.intro-header{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    background-position: center;
    height:400px;
}
.social-links {
    display: -webkit-inline-box;
}

.social-links p {
    margin-right: 10px;
}
.post-list a:hover {
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 2500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px !important;
  width: auto;
}
